.contactForm {
  position: relative;
  display: grid;
  grid-template-columns: 35fr 65fr;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  /* background-image: url(../assets/image/Contact/BG.jpg); */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover
}

@media (max-width:992px) {
  .contactForm {
    grid-template-columns: repeat(1, 1fr)
  }
}

.contactForm .detailsContainer {
  position: relative;
  width: 100%;
  height: 100%
}

.contactForm .map {
  width: 100%;
  height: 100%;
  object-fit: cover
}

@media (max-width:992px) {
  .contactForm .map {
    height: 400px;
    margin-top: 50px;
    padding: 50px;
    border-radius: 60px
  }
}

@media (max-width:768px) {
  .contactForm .map {
    margin-top: 10px;
    padding: 30px;
    border-radius: 40px
  }
}

@media (max-width:576px) {
  .contactForm .map {
    display: none
  }
}

.contactForm .info {
  position: absolute;
  inset: 0 0 0 450px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 15px;
  margin: auto 0;
  padding: 40px;
  width: 380px;
  height: fit-content;
  border-radius: 10px;
  background-color: var(--clr-white);
  box-shadow: var(--shadow-regular)
}

@media (max-width:1500px) {
  .contactForm .info {
    inset: 0 0 0 400px
  }
}

@media (max-width:1400px) {
  .contactForm .info {
    inset: 0 0 0 300px
  }
}

@media (max-width:1200px) {
  .contactForm .info {
    inset: 0 0 0 250px;
    width: 330px
  }
}

@media (max-width:1100px) {
  .contactForm .info {
    inset: 0 0 0 175px
  }
}

@media (max-width:992px) {
  .contactForm .info {
    inset: 50px 50px 0 auto
  }
}

@media (max-width:768px) {
  .contactForm .info {
    inset: 10px 30px 0 auto
  }
}

@media (max-width:576px) {
  .contactForm .info {
    inset: 50px 0 auto 0;
    width: 390px;
    margin: 0 auto
  }
}

@media (max-width:450px) {
  .contactForm .info {
    width: 300px;
    padding: 30px
  }
}

.contactForm .info .triangle {
  position: absolute;
  inset: 0 auto 0 -12.5px;
  z-index: 1;
  margin: auto 0;
  width: 25px;
  height: 25px;
  background-color: var(--clr-blue);
  transform: rotate(45deg)
}

.contactForm .text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%
}

.contactForm .text .title {
  font-size: 28px;
  font-weight: 400;
  color: var(--clr-blue);
  font-family: var(--font-secondary);
  letter-spacing: 1px
}

.contactForm .text .subTitle {
  font-size: calc(var(--fs-small) - 1.5rem);
  margin: 0 0 20px 0;
  color: var(--clr-black)
}

.contactForm .info img {
  width: 20px;
  padding: 5px 0 0 0
}

.contactForm .info :is(.mobile, .email, .address) {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 15px
}

.contactForm .info :is(.mobile, .email, .address) :is(.number, .id, .details) {
  font-size: var(--fs-xs);
  font-weight: var(--fw-medium);
  color: var(--clr-black)
}

.contactForm .form {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
  width: 100%;
  height: 100%;
  padding: 75px 75px 75px 375px
}

@media (max-width:1400px) {
  .contactForm .form {
    padding: 75px 65px 75px 300px
  }
}

@media (max-width:1200px) {
  .contactForm .form {
    padding: 75px 25px 75px 260px
  }
}

@media (max-width:1100px) {
  .contactForm .form {
    padding: 75px 25px 75px 200px
  }
}

@media (max-width:992px) {
  .contactForm .form {
    padding: 50px 100px 100px 100px
  }
}

@media (max-width:768px) {
  .contactForm .form {
    padding: 40px 5% 100px 5%
  }
}

@media (max-width:576px) {
  .contactForm .form {
    gap: 8px;
    padding: 410px 4% 75px 4%
  }
}

@media (max-width:450px) {
  .contactForm .form {
    gap: 15px;
    padding: 430px 4% 75px 4%
  }
}

.contactForm .form :is(.form_name, .form_business, .form_mail, .form_mobile, .form_message) {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 5px;
  flex-basis: calc(50% - 7.5px)
}

.contactForm .form .form_message {
  flex-basis: 100%
}

@media (max-width:450px) {
  .contactForm .form :is(.form_name, .form_business, .form_mail, .form_mobile, .form_message) {
    flex-basis: 100%
  }
}

.contactForm .form :is(.form_name, .form_business, .form_mail, .form_mobile, .form_message) :is(input, textarea) {
  font-size: var(--fs-xs);
  width: 100%;
  height: 45px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  border: 3px solid var(--clr-white);
  background: linear-gradient(to bottom right, hsl(0 0% 100% / .55), var(--clr-white))
}

.contactForm .form :is(.form_name, .form_business, .form_mail, .form_mobile, .form_message) :is(input, textarea):focus {
  outline: none
}

.contactForm .form .form_message textarea {
  font-family: var(--font-primary);
  height: 150px
}

.contactForm .form label {
  font-size: var(--fs-xs);
  font-weight: var(--fw-medium)
}

.contactForm .form button {
  font-size: 18px;
  font-weight: 500;
  font-family: var(--font-primary);
  color: var(--clr-white);
  width: 100%;
  height: 50px;
  margin-top: 20px;
  border: none;
  border-radius: 5px;
  background-color: var(--clr-blue);
  cursor: pointer
}

.contactForm .form button:is(:hover, :focus) {
  background-color: var(--clr-white);
  color: var(--clr-blue)
}