.Nav-Link {
    color: var(--clr-blue-dark)
}

.Nav-Link:is(:hover, :focus) {
    border-bottom: 3px solid var(--clr-blue-dark);
    color: var(--clr-blue-dark)
}

.blogWrapper .category .linkContainer {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 8px
}

@media (max-width:576px) {
    .blogWrapper .category .linkContainer {
        gap: 6px
    }
}

.blogWrapper .category .linkContainer .text {
    font-size: var(--fs-xs);
    font-weight: var(--fw-medium)
}

.blogWrapper .category .linkContainer .link {
    font-size: var(--fs-xs);
    font-weight: var(--fw-medium);
    background-color: #f8f7fc;
    padding: 12px 25px;
    border-radius: 3px
}

@media (max-width:1400px) {
    .blogWrapper .category .linkContainer .link {
        padding: 12px 20px
    }
}

@media (max-width:1200px) {
    .blogWrapper .category .linkContainer .link {
        padding: 12px 17px
    }
}

.blogWrapper .category .linkContainer .link:is(:focus, :hover) {
    color: var(--clr-white);
    background-color: var(--clr-blue-dark)
}

.blogWrapper {
    padding: 150px 0;
    padding-bottom: 50px;
    background-image: url(../assets/image/Blog/into-bg2.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top
}

.mainBlog {
    padding-right: 60px;
    font-size: 16px
}
.mainBlog  a{
    color: var(--clr-blue);
}

.mainBlog h2 {
    font-weight: 600;
    font-size: 20px
}

.mainBlog h3 {
    font-weight: 600;
    font-size: 18px
}

.mainBlog ul {
    margin-left: 25px;
    line-height: 30px;
    margin-top: 15px
}

.mainBlog ul li {
    list-style: disc
}

@media (max-width:1200px) {
    .blogWrapper {
        padding: 130px 0;
        padding-bottom: 50px
    }
}

@media (max-width:992px) {
    .mainBlog {
        padding-right: 30px
    }
}

@media (max-width:768px) {
    .mainBlog {
        padding: 0;
        padding-bottom: 50px
    }
}

.blogWrapper .mainBlog .blogImage {
    width: 100%;
    height: 100%;
    margin-bottom: 15px
}

.blogWrapper .mainBlog img {
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
    margin: 20px auto
}

.blogWrapper .mainBlog .title {
    font-size: 26px;
    font-weight: 600;
    line-height: 30px;
    margin-bottom: 10px
}

@media (max-width:850px) {
    .blogWrapper .mainBlog .title {
        font-size: 22px
    }
}

@media (max-width:576px) {
    .blogWrapper .mainBlog .title {
        font-size: 20px;
        line-height: 26px
    }
}

.blogWrapper .mainBlog .subTitle {
    font-size: calc(var(--fs-regular) + 2rem);
    font-weight: var(--fw-semi-bold);
    line-height: calc(var(--lh-regular) + 2rem)
}

@media (max-width:992px) {
    .blogWrapper .mainBlog .subTitle {
        font-size: calc(var(--fs-regular) + 5rem);
        line-height: calc(var(--lh-regular) + 4rem)
    }
}

@media (max-width:576px) {
    .blogWrapper .mainBlog .subTitle {
        font-size: calc(var(--fs-regular) + 3rem);
        line-height: calc(var(--lh-regular) + 2rem)
    }
}

.blogWrapper .mainBlog .details {
    font-size: 15px;
    line-height: 28px;
    margin-bottom: 10px
}


@media (max-width:576px) {
    .blogWrapper .mainBlog .details {
        font-size: 14px;
        line-height: 25px
    }
}

.blogWrapper .sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 55px
}

@media (max-width:850px) {
    .blogWrapper .sidebar {
        gap: 40px
    }
}

.blogWrapper .sidebar :is(.author, .social, .category, .latestBlogs) {
    flex-basis: 100%
}

@media (max-width:992px) {
    .blogWrapper .sidebar :is(.author, .social) {
        flex-basis: calc(50% - 27.5px)
    }
}

@media (max-width:850px) {
    .blogWrapper .sidebar :is(.author, .social) {
        flex-basis: 100%
    }
}

.blogWrapper .sidebar :is(.social, .category) {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 10px;
    width: 100%
}

.blogWrapper .sidebar .head {
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 1px;
    font-family: var(--font-secondary)
}

.blogWrapper .sidebar .author {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border-radius: 5px;
    background-color: var(--clr-white);
    padding: 20px;
    box-shadow: var(--shadow-small)
}

.blogWrapper .sidebar .author .details {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px
}

.blogWrapper .sidebar .author img {
    width: 95px;
    height: 95px;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid var(--clr-green)
}

.blogWrapper .sidebar .author .text {
    line-height: var(--lh-xs);
    text-align: center;
    white-space: pre-line
}

@media (max-width:1200px) {
    .blogWrapper .sidebar .author .text {
        line-height: calc(var(--lh-xs) + 2rem)
    }
}

.blog_inner .mainBlog p {
    font-size: 16px !important
}

.blog_inner .mainBlog ul li {
    font-size: 16px !important
}

.blogWrapper .sidebar .social .linkContainer {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%
}

@media (max-width:1200px) {
    .blogWrapper .sidebar .social .linkContainer {
        gap: 8px
    }
}

@media (max-width:992px) {
    .blogWrapper .sidebar .social .linkContainer {
        gap: 6px
    }
}

@media (max-width:850px) {
    .blogWrapper .sidebar .social .linkContainer {
        grid-template-columns: repeat(2, 1fr);
        gap: 7px
    }
}

@media (max-width:575px) {
    .blogWrapper .sidebar .social .linkContainer {
        grid-template-columns: repeat(1, 1fr)
    }

    .blogWrapper .mainBlog img {
        width: 100% !important;
        object-fit: cover;
        height: unset !important
    }
}

.blogWrapper .sidebar .social .link {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 15px;
    background-color: var(--clr-white);
    width: 100%;
    height: 60px;
    border-radius: 5px;
    padding: 0 0 0 20px;
    box-shadow: var(--shadow-small)
}

@media (max-width:1200px) {
    .blogWrapper .sidebar .social .link {
        height: 52px
    }
}

.blogWrapper .sidebar .social .link:is(:focus, :hover) {
    outline: 3px solid var(--clr-blue-dark)
}

.blogWrapper .sidebar .social .link img {
    max-width: 37px
}

.blogWrapper .sidebar .social .link .text {
    font-size: var(--fs-xs);
    font-weight: var(--fw-medium)
}

.blogWrapper .sidebar .latestBlogs {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 20px
}

@media (max-width:992px) {
    .blogWrapper .sidebar .latestBlogs {
        flex-wrap: wrap;
        gap: 10px 30px
    }
}

@media (max-width:768px) {
    .blogWrapper .sidebar .latestBlogs {
        flex-direction: column;
        gap: 15px
    }
}

.blogWrapper .sidebar .latestBlogs .head {
    flex-basis: 100%
}

.blogWrapper .sidebar .latestBlogs .blog {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px
}

@media (max-width:992px) {
    .blogWrapper .sidebar .latestBlogs .blog {
        flex-basis: calc(50% - 15px);
        align-items: flex-start
    }
}

.blogWrapper .sidebar .latestBlogs .blog .image img {
    width: 75px;
    height: 75px;
    object-fit: cover;
    border-radius: 3px
}

.blogWrapper .sidebar .latestBlogs .blog .text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start
}

.blogWrapper .sidebar .latestBlogs .blog .text .title {
    font-size: 15px;
    font-weight: 500;
    line-height: 22px
}

.blogWrapper .sidebar .latestBlogs .blog .text .category {
    font-size: 15px;
    line-height: 20px;
    color: var(--clr-blue);
    margin-top: 8px
}

.blogWrapper .sidebar .latestBlogs .blog .text :is(.title, .category):is(:hover, :focus) {
    color: var(--clr-blue-dark)
}

.blogWrapper .sidebar .author .author_btn {
    font-size: 15px;
    font-weight: 400;
    background-color: var(--clr-blue);
    color: var(--clr-white);
    padding: 12px 25px;
    padding-top: 10px;
    border-radius: 3px;
    display: block;
    margin-bottom: 10px;
    transition: all 250ms ease-in-out
}

.blogWrapper .sidebar .author .author_btn:is(:hover, :focus) {
    background-color: var(--clr-blue-dark)
}

.Product-Item {
    background-color: #000;
    color: #fff;
    padding: 10px 10px
}

.chat_container {
    max-width: 500px;
    margin-top: 50px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgb(0 0 0 / .1);
    overflow: hidden
}

.chat_header {
    background-color: var(--clr-blue);
    color: #fff;
    padding: 10px 20px;
    font-size: 18px;
    text-align: center
}

.chat_messages {
    padding: 20px;
    overflow-y: auto;
    max-height: 400px
}

.user-message,
.bot-message {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 10px;
    border-radius: 0 8px 8px
}

.user_box {
    display: flex
}

.user-message {
    background-color: #DCF8C6;
    align-self: flex-start;
    width: fit-content;
    position: relative
}

.right_user_message {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 10px;
    max-width: 200px;
    float: right;
    background-color: #e6efe0;
    align-self: flex-start;
    width: fit-content;
    border-radius: 8px 0 8px 8px
}

.bot-message {
    background-color: #EAEAEA;
    align-self: flex-end
}

.chat_input_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #f5f5f5
}

.chat_input_box {
    flex-grow: 1;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc
}

.chat_send_button {
    background-color: var(--clr-blue);
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 8px 15px;
    cursor: pointer;
    margin-left: 5px
}

.chat_messages_img {
    width: 35px;
    height: 35px;
    background-color: beige;
    border-radius: 50px;
    margin-right: 5px;
    text-align: center
}

.chat_messages_img i {
    font-size: 23px
}

.user_time_box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    margin-bottom: 6px
}

.user_time_box h5 {
    color: #000;
    font-size: 14px;
    font-weight: 600
}

.user_time_box h6 {
    font-size: 12px;
    color: #656565;
    text-align: right;
    font-weight: 600
}

.user-message a {
    position: absolute;
    bottom: -26%;
    font-size: 12px;
    color: #000;
    left: 6%;
    font-weight: 600
}

.user-message a:last-child {
    left: 24%
}

@media(max-width:575px) {
    .chat_container {
        margin-top: unset;
        margin-bottom: 40px
    }
}

.comment_box h4 {
    font-size: 30px;
    font-weight: 600;
    padding-bottom: 10px;
    border-bottom: 1px solid #999;
    padding-top: 15px;
    margin-bottom: 30px
}

.comment_text {
    display: flex;
    flex-wrap: nowrap;
    gap: 20px
}

.comment_text figure {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    display: inline-block;
    vertical-align: top;
    margin: 0
}

.comment_text figure img {
    width: 100%;
    height: 100%;
    object-position: center
}

.comment_input_box {
    border: 1px solid #999;
    width: 100%
}

.d_flx {
    display: flex;
    justify-content: end;
    gap: 20px;
    padding-bottom: 10px
}

.comment_input_box input {
    width: 95%;
    padding: 10px 10px;
    margin: 10px 10px
}

.comment_icon_box ul {
    display: inline-flex;
    flex-wrap: wrap;
    gap: 22px;
    list-style: none;
    margin-left: 18px
}

.comment_icon_box {
    display: flex;
    align-items: center;
    justify-content: end;
    margin-bottom: 10px
}

.comment_icon_box ul li {
    font-size: 20px
}

.comment_btn_box button {
    border: none;
    padding: 5px 13px
}

.comment_btn_box button:first-child {
    color: #999;
    background-color: unset
}

.comment_btn_box button:last-child {
    color: var(--clr-white);
    background-color: #9d9d9d;
    border-radius: 5px
}

.comment_btn_box {
    gap: 15px;
    display: flex;
    margin-right: 20px
}

.comment_reply {
    display: flex;
    flex-wrap: nowrap;
    gap: 20px;
    margin-top: 35px
}

.comment_reply figure {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    display: inline-block;
    vertical-align: top;
    margin: 0
}

.comment_reply figure img {
    width: 100%;
    height: 100%;
    object-position: center
}

.comment_reply_text {
    width: 60%
}

.comment_name_box h6 {
    font-weight: 500;
    font-size: 18px;
    color: #000
}

.comment_name_box span {
    color: #999
}

.comment_reply_text p {
    font-size: 14px
}

.comment_reply_btn {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    margin-top: 15px
}

.comment_reply_title_box {
    display: flex;
    justify-content: space-between
}

.comment_reply_btn button {
    background-color: unset;
    border: none;
    display: flex;
    gap: 4px;
    color: #2d2d2d
}

.comment_reply_btn button:first-child i {
    color: #e31b23
}

.comment_text_item {
    width: 100%
}

.comment_text_item h6 {
    font-weight: 500;
    font-size: 18px;
    color: #000
}

.comment_text_item span {
    color: #999
}

.comment_text_img figure {
    width: 57px
}

.comment_box {
    width: 90%
}

@media(max-width:992px) {
    .blog_details_box p img {
        width: 100% !important
    }

    .blog_details_box h3 strong img {
        width: 100% !important
    }
}

@media(max-width:575px) {
    .comment_input_box {
        width: 100%
    }

    .comment_reply_text {
        width: 80%
    }

    .comment_box {
        margin-bottom: 50px
    }

    .comment_text_img figure {
        width: unset
    }
}