.banner_wrap .bg_img {
  opacity: 1
}

.service {
  background-color: var(--clr-Off-white)
}

.service .sectionTitle {
  font-family: var(--font-secondary);
  font-size: 40px;
  font-weight: 400;
  line-height: 46px;
  text-align: center;
  letter-spacing: 1px
}

@media (max-width:1200px) {
  .service .sectionTitle {
    line-height: 42px
  }
}

@media (max-width:768px) {
  .service .sectionTitle {
    font-size: 36px;
    line-height: 36px
  }
}

.service .sectionDetails {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color: var(--clr-grey);
  text-align: center;
  margin: 10px auto;
  margin-bottom: 45px;
  width: 100%;
  max-width: 800px
}

@media (max-width:768px) {
  .service .sectionDetails {
    font-size: 15px;
    margin-bottom: 35px
  }
}

.service .itemsContainer .row {
  justify-content: center
}

.service .itemsContainer .Service-Item {
  position: relative;
  background: var(--gradient-transparent);
  border: 4px solid var(--clr-white);
  border-radius: 15px;
  overflow: hidden;
  box-shadow: var(--shadow-regular);
  margin: 0 10px;
  margin-bottom: 25px
}

.service .itemsContainer .Service-Item .link {
  background-color: var(--clr-blue);
  color: var(--clr-white);
  padding: 6px 15px;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 500;
  display: inline-block;
  margin: 30px 20px;
  margin-top: 0
}

.service .itemsContainer .Service-Item .link i {
  vertical-align: sub;
  font-size: 18px;
  margin-left: 10px
}

.service .itemsContainer .Service-Item .link:hover {
  background-color: var(--clr-blue-dark)
}

.service .itemsContainer .Logo {
  opacity: .3
}

.service .itemsContainer .Service-Item .Logo img {
  position: absolute;
  z-index: 2;
  top: 15px;
  left: 15px;
  width: 110px
}

.service .itemsContainer .Service-Item .Circle {
  position: absolute;
  z-index: 1;
  top: -30px;
  left: -30px;
  height: 200px;
  width: 200px;
  border-radius: 50%
}

.service .itemsContainer .Service-Title {
  position: relative;
  font-size: var(--fs-medium);
  font-weight: 600;
  line-height: var(--lh-medium);
  padding: 65px 20px 0 20px;
  display: block
}

.service .itemsContainer .Service-Title:hover {
  color: var(--clr-blue)
}

.service .itemsContainer .Service-Details {
  position: relative;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  color: var(--clr-black);
  margin: 30px 20px;
  margin-top: 40px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
  overflow: hidden
}

@media (max-width:1400px) {
  .service .itemsContainer .Service-Details {
    margin: 20px
  }
}

@media (max-width:992px) {
  .service .itemsContainer .Service-Details {
    font-size: 15px;
    line-height: 24px
  }
}