.Nav-Link {
    color: var(--clr-black)
}

.Nav-Link:is(:hover, :focus) {
    border-bottom: 3px solid var(--clr-black);
    color: var(--clr-black)
}

.banner_wrap .bg_img {
    opacity: 1
}

.main_header {
    padding: 10px 0
}

.ourWork {
    background-color: var(--clr-Off-white)
}

.ourWork .sectionTitle {
    font-family: var(--font-secondary);
    font-size: 50px;
    font-weight: 400;
    line-height: 77px;
    text-align: left;
    letter-spacing: 1px
}

@media (max-width:1200px) {
    .ourWork .sectionTitle {
        line-height: 42px
    }
}

@media (max-width:768px) {
    .ourWork .sectionTitle {
        font-size: 30px;
        line-height: 36px
    }
}

.ourWork .sectionDetails {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: var(--clr-grey);
    text-align: left;
    margin-top: 10px;
    margin-bottom: 45px;
    width: 100%;
    max-width: 800px
}

@media (max-width:768px) {
    .ourWork .sectionDetails {
        font-size: 15px;
        margin-bottom: 35px
    }
}

.projectContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: stretch;
    justify-content: center;
    gap: 35px
}

@media (max-width:1400px) {
    .projectContainer {
        gap: 25px
    }
}

@media (max-width:1200px) {
    .projectContainer {
        grid-template-columns: repeat(2, 1fr);
        gap: 35px
    }

    .main_header {
        background-color: #dbdbdb
    }
}

@media (max-width:992px) {
    .projectContainer {
        gap: 25px
    }

    .main_header {
        background-color: #dbdbdb;
        padding: 40px 0px !important
    }
}

@media (max-width:768px) {
    .projectContainer {
        grid-template-columns: repeat(1, 1fr);
        gap: 25px;
        padding: 0 10%
    }

    .main_header {
        background-color: #dbdbdb;
        padding: 38px 0px !important
    }

    .title {
        font-size: 40px
    }

    .banner_inner {
        margin-top: 90px;
        margin-bottom: 15px
    }
}

@media (max-width:576px) {
    .projectContainer {
        padding: 0
    }

    .main_header {
        background-color: #dbdbdb
    }

    .title {
        font-size: 40px
    }

    .banner_inner {
        margin-top: 0;
        margin-bottom: 15px
    }
}

.projectContainer .project {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 15px;
    padding: 30px 35px;
    border-radius: 10px;
    background-color: var(--clr-white)
}

@media (max-width:576px) {
    .projectContainer .project {
        padding: 25px
    }
}

.projectContainer .project .tagsContainer {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
    width: 100%;
    flex-wrap: wrap;
}

.projectContainer .project .tagsContainer .tag {
    font-size: 14px;
    font-weight: 500;
    padding: 6px 6px;
    border-radius: 5px;
    color: var(--clr-black);
    background-color: #ebebeb;
    cursor: pointer
}

.projectContainer .project .tagsContainer .tag:hover {
    background-color: var(--clr-blue);
    color: var(--clr-white)
}

.projectContainer .project .tagsContainer .tag:hover a {
    color: var(--clr-white)
}

.projectContainer .project .image {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%
}

.projectContainer .project .image .main {
    width: 100%;
    height: 100%;
    aspect-ratio: 10/6.5;
    object-fit: cover;
    border-radius: 10px
}

.projectContainer .project .image .logo {
    position: absolute;
    inset: auto auto -32.5px 32.5px;
    width: 65px;
    aspect-ratio: 1;
    object-fit: contain;
    border-radius: 1000px;
    outline: 4px solid var(--clr-white);
    /* background-color: var(--clr-Off-white); */
    box-shadow: 0 2px 10px rgb(0 0 0 / 25%);
    background-color: var(--clr-black);
    
}

@media (max-width:576px) {
    .projectContainer .project .image .logo {
        inset: auto auto -25px 25px;
        width: 50px
    }
}

.projectContainer .project .text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 10px;
    width: 100%;
    margin: 25px 0 0 0
}

@media (max-width:576px) {
    .projectContainer .project .text {
        margin: 20px 0 0 0
    }
}

.projectContainer .project .text .title {
    font-size: var(--fs-medium);
    font-weight: var(--fw-semi-bold)
}

.projectContainer .project .text .title:is(:focus, :hover) {
    color: var(--clr-blue)
}

.projectContainer .project .text .details {
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden
}

.projectContainer .project .linksContainer {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
    width: 100%;
    margin: auto 0 0 0
}

.projectContainer .project .linksContainer .link {
    background-color: var(--clr-blue);
    color: var(--clr-white);
    padding: 6px 15px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 500
}

.projectContainer .project .linksContainer .link:is(:hover, :focus) {
    background-color: var(--clr-blue-dark)
}

.projectContainer .project .linksContainer .link i {
    vertical-align: sub;
    font-size: 18px;
    margin-left: 10px
}

@media (max-width:768px) {
    .projectContainer .project .text .details {
        font-size: 15px;
        line-height: 24px
    }
}