* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    overflow-x: hidden;
}

:root {
    --white: rgba(255, 255, 255, 1);
    --black: #242424;
    --grey_color: hsl(0, 0%, 55%);
    --var-transition: all .5s ease-in;
}

a {
    text-decoration: none;
}

.bh_testimonials {
    margin: 40px 0px 40px 0px;
}

.bh_testimonials .testimonials_content {
    text-align: center;
}

.bh_testimonials .testimonials_content h3 {
    font-size: 26px;
    line-height: 36px;
    font-weight: 600;
    color: var(--black);
    margin-bottom: 15px;
}

.bh_testimonials .sectionDetails {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: var(--clr-grey);
    text-align: center;
    margin: 10px auto;
    margin-bottom: 45px;
    width: 100%;
    max-width: 800px !important;
}

.bh_testimonials .coulmn_grid {
    display: flex;
    flex-direction: column;
    gap: 40px;
}


.bh_testimonials .row_grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 40px;
    gap: 40px;

}

.video-custom {
    position: relative;
}

.video-custom .caption_controlbox {
    display: flex !important;
    justify-content: space-between;
    position: absolute;
    padding: 15px 20px 0px 20px;
    width: 100%;
    z-index: 10;

}

.video-custom .caption_controlbox img {
    cursor: pointer;
}


.video_largeview h2 {
    background-color: var(--black);
    color: var(--white);
    font-size: 15px;
    padding: 8px 12px;
    border-radius: 8px;
    opacity: 0;
    cursor: pointer;
}

.video_largeview:hover.video_largeview h2 {
    opacity: 1;
    transform: all .3s ease-in-out;
}


.video_largeview img,
.cc_icon img {
    opacity: 0;
    transition: all .3s ease-in;
}

.playvideo .video-custom .video_largeview img,
.playvideo .video-custom .cc_icon img {
    opacity: 1;
}

.video_largeview,
.cc_icon {
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;

}

.video-custom .poster-img {
    width: 100%;
    display: block;
    height: 350px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    object-fit: cover;

}

.video-custom video {
    position: absolute;
    left: 0px;
    top: 0px;
    display: block;
    object-fit: cover;
    width: 100%;
    height: 350px;
    opacity: 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

}

.video-custom .play-btn,
.video-custom .pause-btn {
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    top: 0px;
    margin: auto;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    z-index: 3;
    cursor: pointer;
    transition: 0.5s all;
    overflow: hidden;
}

.video-custom .pause-btn {
    display: none;
}

.video-custom .play-btn i {
    width: 0;
    height: 0;
    border-style: solid;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 18px solid #000000;
    border-right: 0;
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    top: 0px;
    margin: auto;
}

.pause-btn i {
    position: absolute;
    left: -3px;
    right: 0px;
    bottom: 0px;
    top: 2px;
    margin: auto;
    width: 16px;
    height: 24px;
    flex-flow: row wrap;
}

.pause-btn i:before {
    content: '';
    width: 4px;
    height: 100%;
    background-color: #000;
    display: inline-block;
}

.pause-btn i:after {
    content: '';
    width: 4px;
    height: 100%;
    margin-left: 8px;
    background-color: #000;
    display: inline-block;
}

/* 
.playvideo .video-custom img {
    opacity: 0;
} */

.playvideo .video-custom video {
    opacity: 1;
}

.video-custom .vplay {
    display: none;
}

.video-custom:hover .vplay+.pause-btn {
    display: block;
}


.bh_testimonials .testimonials_box .client_content_box {

    width: 100%;
    margin-top: -115px;
    position: absolute;
    padding-left: 20px;
    padding-right: 20px;
    opacity: 1;
}

.playvideo .video-custom .client_content_box {
    opacity: 1;
}


.bh_testimonials .testimonials_box .client_info h3 {
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
    color: white;
    margin-bottom: 5px;
}

.bh_testimonials .testimonials_box .client_info p {
    color: white;
    font-size: 16px;
    margin-bottom: 0;
}

.bh_testimonials .testimonials_box .testimonials_qoute {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: rgba(165, 197, 255, 1);
    padding: 10px 20px 20px 20px;
}

.bh_testimonials .testimonials_box .testimonials_qoute .text {
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: var(--black);

}

.bh_testimonials .testimonials_box .testimonials_qoute .socials_link {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.bh_testimonials .testimonials_box .testimonials_qoute .socials_link .linkedin {
    height: 26px;
    width: 26px;
}

.bh_testimonials .testimonials_box .testimonials_qoute .socials_link .youtube {
    height: 26px;
    width: 35px;
    cursor: pointer;
}

.theater-mode-text {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
    white-space: nowrap;
}

.video_largeview {
    position: relative;
}

.theater-mode-text.active {
    display: block;
}

/* ----------------------only text section----------------- */
.bh_testimonials .testimonials_box .normel_testimonials {

    background-color: rgba(165, 197, 255, 1);
    border-radius: 10px;
    padding: 20px;
    position: relative;
}

.bh_testimonials .testimonials_box .normel_testimonials .flex {
    display: flex;
    gap: 20px;
    align-items: center;
}

.bh_testimonials .testimonials_box .normel_testimonials .profile_img img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    object-fit: cover;
}

.bh_testimonials .testimonials_box .normel_testimonials .client_info h3,
.bh_testimonials .testimonials_box .normel_testimonials .client_info p {
    color: rgba(0, 0, 0, 1);

}

.bh_testimonials .testimonials_box .normel_testimonials .socials_link {
    position: absolute;
    right: 20px;
    top: 20px;
}

.bh_testimonials .testimonials_box .normel_testimonials .socials_link .linkedin {
    height: 26px;
    width: 26px;
}



.bh_testimonials .testimonials_box .normel_testimonials .testimonials_qoute {

    padding: 25px 0px 0px 0px;

}

.bh_testimonials .testimonials_box .normel_testimonials .testimonials_qoute .text {

    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: var(--black);


}

@media(max-width:1200px) {


    .bh_testimonials .testimonials_box .client_content_box {
        display: block;
        margin-top: -115px;
    }

    .bh_testimonials .testimonials_box .client_info p {
        margin-bottom: 5px;
        line-height: 20px;
    }


    .bh_testimonials .testimonials_box .normel_testimonials .flex {

        display: block;
    }

    .bh_testimonials .testimonials_box .normel_testimonials .client_info {

        margin-top: 10px;
    }

    .bh_testimonials .testimonials_box .normel_testimonials .testimonials_qoute {
        padding: 15px 0px 0px 0px;
    }


}

@media(max-width:992px) {
    .bh_testimonials {
        margin: 40px 0px 80px 0px;
    }

    .bh_testimonials .row_grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .bh_testimonials .testimonials_content h3 {
        margin-bottom: 10px;
        text-align: center;
    }

    .bh_testimonials .testimonials_content p {
        text-align: center;
    }
}


@media screen and (max-width: 992px) and (min-width: 769px) {

    .bh_testimonials .row_grid .coulmn_grid:nth-child(3) {
        display: contents !important;
    }

    .bh_testimonials .row_grid .coulmn_grid:nth-child(3) .testimonials_box:nth-child(2) {
        margin-top: -285px;
    }

    .bh_testimonials .row_grid .coulmn_grid:nth-child(3) .testimonials_box:nth-child(4) {

        margin-top: -205px;
    }

}

@media(max-width:768px) {

    .bh_testimonials .row_grid {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media(max-width:575px) {
    .bh_testimonials {
        margin: 40px 0px 50px 0px;
    }

    .bh_testimonials .coulmn_grid {
        gap: 25px;
    }

    .bh_testimonials .row_grid {
        gap: 25px;
    }

    .bh_testimonials .testimonials_content h3 {
        font-size: 24px;
        line-height: 28px;
        font-weight: 400;
        margin-top: 10px;
    }

    .bh_testimonials .testimonials_content p,
    .bh_testimonials .testimonials_box .testimonials_qoute p {

        font-size: 15px;
        line-height: 24px;
    }

    .bh_testimonials .testimonials_box .client_info p {
        font-size: 14px;
        line-height: 18px;
    }

    .bh_testimonials .testimonials_box .client_info h3 {
        font-size: 22px;
    }

}